<!doctype html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->

  {% load staticfiles %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'dmac/css/dragdrop.css' %}">
  <title>Login_to_DMAC</title>

  <script src='https://code.jquery.com/jquery-3.2.1.slim.js'
    integrity='sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg=' crossorigin='anonymous'></script>

  <style>
    * {
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
    }


    .header {
      height: 22vh;
      background-color: #2F4F4F;

    }

    .header_heading {
      padding-top: 40px;
      color: white;
    }

    .header-link {
      position: absolute;
      top: 8px;
      right: 16px;
      font-size: 18px;
    }

    section {
      display: flex;
      flex-direction: row;



    }

    .col1 {
      height: 175vh;
      width: 45vh;
      border: 2px solid black;
      background-color: rgb(193, 223, 204);
      margin-right: 20px;
      margin: 5px;
      display: block;
    }

    .col1 h2 {
      text-align: center;
    }

    .col2 {
      height: auto;
      width: 84vh;
      border: 2px solid black;
      background-color: rgb(215, 228, 248);
      margin-right: 20px;
      margin: 5px;
      display: block;
    }

    .col2 h2 {
      text-align: center;
      margin-top: 4px;
    }

    .col3 {
      width: 75vh;
      border: 2px solid black;
      background-color: rgb(193, 223, 204);
      margin-right: 20px;
      margin: 5px;
      display: block;
    }

    .col3 h2 {
      text-align: center;
      margin-top: 4px;
    }

    .page-footer {
      background-color: #333;
      margin-top: auto;

    }

    .footer-copyright {
      color: white;
    }
  </style>

</head>

<body>


  <div class="header">
    <center>
      <h1 class="header_heading"><b>Welcome to Dmac</b>
      </h1>
    </center>
    <a href="/login" class=" uk-flex uk-flex-center uk-flex-middle">
      <button class="btn btn-info mx-2">Screen 2</button>
    </a>
    <a href="\" class="header-link uk-flex uk-flex-center uk-flex-middle">
      <button class="btn btn-danger">Logout</button>

    </a>
  </div>
  <!-- header end -->

  <section>
    <div class="col1">
      <h2>Table Names</h2>
      <hr>

      {% for i in tablename_list %}

      <h5>
        <li style="margin-left: 4px;">{{ i }}</li>
      </h5>

      {% endfor %}

      <!-- add of second screen -->
      <br>
      <br>
      <hr>
       <h2 class="text-dark">Check Table Details</h2>
<hr>
 <form action = "{% url 'dmac:postdata' %}" method = "POST" enctype="multipart/form-data" >
                            {% csrf_token %}

                        <div class="uk-form-controls uk-flex">
                            <select name="table_name" id="caseCheck" class="uk-select uk-margin-right uk-flex-1" placeholder="Table1">
                                <option value="Selected"> ---Select Table---</option>
                                {% for i in tablename_list %}
                                <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                            <div style = "max-width:470px;">
                            <center>

                           <button class="btn btn-secondary" style = "border:0px; background-color:#4285F4; margin-top:8%;
                              height:35px; width:80%;margin-left:19%;" type = "submit"
                              value = "Login" >
                              <strong>Submit</strong>
                           </button>

                             </center>
                        </div></form>

      
      <br>
      <br>
      <br>
      <hr>
      <h2 class="text-dark">Create Connection</h2>
<hr>
<span class="input-group-text" id="inputGroup-sizing-sm">Host</span>
<input type="text" class="form-control" name="host" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
<br>
<span class="input-group-text" id="inputGroup-sizing-sm">Username</span>
<input type="text" class="form-control" name="username" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
<br>
<span class="input-group-text" id="inputGroup-sizing-sm">Password</span>
<input type="text" class="form-control" name="password" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">

<br>
<span class="input-group-text" id="inputGroup-sizing-sm">database</span>
<input type="text" class="form-control" name="database" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">

<br>


   <button  class="btn btn-secondary mx-3" type = "submit" value = "Login" >
      Submit
   </button>



        {{ strl }}



    </div>


    <div class="col2">
      <h2>Merge Tables</h2>
      <hr>
      <form action="{% url 'dmac:post' %}" method="POST" class="form" enctype="multipart/form-data" id="issueForm">
        {% csrf_token %}
        <fieldset class="uk-fieldset uk-padding uk-card uk-card-default my--display" data-class="form-fieldset">
          <legend class="uk-legend uk-margin-bottom uk-flex uk-flex-center uk-flex-middle">
            <select name="tablename" class="form-select" multiple aria-label=" multiple select example">

              {% for i in tablename_list %}
              <option value="{{ i }}">{{ i }}</option>
              {% endfor %}
            </select>

          </legend>
          <p class="uk-margin">

            <button name="submit" class="uk-button btn btn-success mx-3">Submit</button>
          </p>
        </fieldset>

      </form>
      &nbsp;&nbsp;

      <div id="table2" style="overflow-x:auto;overflow-y:auto; height:350px">
        <h2>Table1</h2>
        <table class="table table-hover">
          <thead>
            {% for i in stick1 %}
            <td draggable="true" ondragstart="drag(event, 1)">{{ i }}</td>
            {% endfor %}
          </thead>
          <tbody id="tb1"></tbody>
        </table>
      </div>

      <div id="table2" style="overflow-x:auto;overflow-y:auto; height:350px;">
        <h2>Table2</h2>
        <table class="table table-hover">
          <thead>
            {% for i in stick2 %}
            <td draggable="true" ondragstart="drag(event, 2)">{{ i }}</td>
            {% endfor %}
          </thead>
          <tbody id="tb2"></tbody>

        </table>
      </div>




<!--      ## this is for show table columns-->
      <form action="{% url 'dmac:rest' %}" method="POST" class="form" enctype="multipart/form-data" id="issueForm">
        {% csrf_token %}
        <fieldset class="uk-fieldset uk-padding uk-card uk-card-default my--display" data-class="form-fieldset">
          <legend class="uk-legend uk-margin-bottom uk-flex uk-flex-center uk-flex-middle">
            <select name="tablename" class="form-select" multiple aria-label=" multiple select example">
              {% for i in lists %}
              <option value="{{ i }}">{{ i }}</option>
              {% endfor %}
            </select>

          </legend>
          <p class="uk-margin">


            <button name="submit" class="uk-button btn btn-success mx-3">Submit</button>
          </p>
        </fieldset>
      </form>




    </div>
    <div class="col3">


      <h2>Table Details</h2>
      <hr>

       <div id="table2" style="overflow-x:auto;overflow-y:auto; height:350px;">
      <table class="table table-hover">
        {% for i in columnskit %}
        <th>{{ i }}</th>{% endfor %}
        {% for j in valueskit %}
        <tr> {% for k in j %}
          <td>{{ k }}</td>{% endfor %}
        </tr>

        {% endfor %}

      </table></div>
      <form method="POST" action="{% url 'dmac:thankyou' %}" id="tableData">
        {% csrf_token %}
        <div id="content">

          <div style="overflow-x:auto;overflow-y:auto;height:600px;">
            <h2>Create Your Table</h2>
            <table class="table table-hover" id="tb3" name="thakur"></table>
          </div>
          <textarea name="jsonData" id="jsonDump" style="display:none;"></textarea>
        </div>
         <legend class="uk-legend uk-margin-bottom uk-flex uk-flex-center uk-flex-middle">
                                        <h2>APPLY RULES</h2>
<!--                             <select  name="rules"  class="form-select" multiple aria-label=" multiple select example">-->
<!--                                 <option value="name_spliter">Name spliter</option>-->
<!--                                 <option value="first+last">first+last</option>-->
<!--                                 <option value="string resizer">string resizer</option>-->

<!--                                </select>-->

<!--                                      </legend>  <p class="uk-margin">-->
                                   <div>
                                     <div class="col">
                                   <div class="form-check">
  <input class="form-check-input" type="checkbox" value="{{ k1 }}" name="fit" id="flexCheckDefault" checked>
  <label class="form-check-label" for="flexCheckDefault">
    Default
  </label>

</div>
                                   <div class="form-check">
  <input class="form-check-input" type="checkbox" value="name_spliter" name="spliter" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Name Spliter
  </label>

</div>


                                    <div class="form-check">
  <input class="form-check-input" type="checkbox" value="concat_columns" name="concat" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    concat columns
  </label>

</div>
                                    <div class="form-check">
  <input class="form-check-input" type="checkbox" value="string_resizer" name="resizer" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    String Resizer
  </label>

                                    </div></div>
                                   </div>
        <p class="uk-margin">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" name="desc" class="form-control" placeholder=" Final Table Name" aria-label="Username"
            aria-describedby="basic-addon1">
        </div>

        <button type="submit" class="uk-button btn btn-success mx-3">Send to Target Database</button>
      </form>
    </div>
  </section>

  <!-- Footer -->
  <footer class="page-footer">


    <!-- Copyright -->
    <div class="footer-copyright text-center py-2">© 2021 Copyright:
      <a href="#" class="text-light" style="text-decoration: none;">DMAC</a>
    </div>

    <!-- Copyright -->

  </footer>
  <!-- Footer -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
  <script src="{% static 'dmac/js/dragdrop.js' %}"></script>



  <script type="text/javascript">
    var data1 = JSON.parse("{{tab1|escapejs}}");
    var data2 = JSON.parse("{{tab2|escapejs}}");

    var data3 = [];

    let arr = [];
    let count1 = 0,
      count2 = 0;
    let field, fromIndex;
    var cols1 = data1.length > 0 ? Object.keys(data1[0]) : [];
    var cols2 = data2.length > 0 ? Object.keys(data2[0]) : [];
    var cols3 = ["No"];

    function deployData() {
      var tbdata1 = "",
        tbdata2 = "",
        tbdata3 = "";

      for (let j = 0; j < data1.length; j++) {
        tbdata1 += "<tr>";
        for (let x = 0; x < cols1.length; x++) {
          tbdata1 += "<td>" + data1[j][cols1[x]] + "</td>";
        }
        tbdata1 += "</tr>";
      }

      for (let j = 0; j < data2.length; j++) {
        tbdata2 += "<tr>";
        for (let x = 0; x < cols2.length; x++) {
          tbdata2 += "<td>" + data2[j][cols2[x]] + "</td>";
        }
        tbdata2 += "</tr>";
      }

      tbdata3 += "<thead>";
      for (let k = 0; k < cols3.length; k++) {
        tbdata3 +=
          "<td draggable='true' ondragstart='drag(event, 3)' ondrop='drop(event)' ondragover='allowDrop(event)'>" +
          cols3[k] +
          "</td>";
      }
      tbdata3 += "</thead>";
      for (let j = 0; j < data3.length; j++) {
        tbdata3 += "<tr>";
        for (let x = 0; x < cols3.length; x++) {
          tbdata3 += "<td>" + data3[j][cols3[x]] + "</td>";
        }
        tbdata3 += "</tr>";
      }
      document.getElementById("tb1").innerHTML = tbdata1;
      document.getElementById("tb2").innerHTML = tbdata2;
      document.getElementById("tb3").innerHTML = tbdata3;

      field = "";
      fromIndex = 0;
    }

    deployData();

    function allowDrop(ev) {
      ev.preventDefault();
    }
    function drag(e, i) {
      fromIndex = i;
      field = e.target.innerHTML;
    }
    function drop(e) {
      e.preventDefault();

      if (field == "{{ k1 }}" && fromIndex == 1 && arr.indexOf("table1") == -1) {
        arr.push("table1");
      }

      if (field == "{{ k2 }}" && fromIndex == 2 && arr.indexOf("table2") == -1) {
        arr.push("table2");
      }

      if (arr.indexOf("table1") == -1 && field !== "{{ k1 }}" && fromIndex == 1) {
        alert("Please select primary column first, drag '{{ k1 }}' column from table A");
        return;
      }

      if (arr.indexOf("table2") == -1 && field !== "{{ k2 }}" && fromIndex == 2) {
        alert("Please select primary column first, '{{ k2 }}' column from table B");
        return;
      }

      if (
        (count1 == 6 && fromIndex == 1) ||
        (count2 == 6 && fromIndex == 2)
      ) {
        return;
      }

      if (count1 < 4 && fromIndex == 1) {
        count1++;
      }

      if (count2 < 3 && fromIndex == 2) {
        count2++;
      }

      var targetField = e.target.innerHTML;
      var index = cols3.indexOf(targetField);

      if (fromIndex == 3) {
        var ind = cols3.indexOf(field);
        cols3.splice(ind, 1);
        if (ind < index) {
          cols3.splice(index, 0, field);
        } else {
          cols3.splice(index + 1, 0, field);
        }
      } else {
        if (cols3.indexOf(field) == -1) {
          cols3.splice(index + 1, 0, field);
        }
        data3 = [];
        let d1 = [],
          d2 = [];
        if (arr.length > 0) {
          if (arr[0] == "table1") {
            d1 = data1;
          } else {
            d1 = data2;
          }
        }
        if (arr.length > 1) {
          if (arr[1] == "table1") {
            d2 = data1;
          } else {
            d2 = data2;
          }
        }

        for (let i = 0; i < d1.length; i++) {
          data3.push({ No: i + 1 });
        }
        for (let k = 0; k < d2.length; k++) {
          data3.push({ No: k + d1.length + 1 });
        }

        for (let j = 0; j < data3.length; j++) {
          if (j < d1.length) {
            for (let x = 0; x < cols3.length; x++) {
              if (cols3[x] !== "No") {
                data3[j][cols3[x]] =
                  d1[j][cols3[x]] !== undefined ? d1[j][cols3[x]] : "";
              }
            }
          } else {
            for (let x = 0; x < cols3.length; x++) {
              if (cols3[x] !== "No") {
                data3[j][cols3[x]] =
                  d2[j - d1.length][cols3[x]] !== undefined
                    ? d2[j - d1.length][cols3[x]]
                    : "";
              }
            }
          }
        }
      }
      deployData();
    }

  </script>

  <script>
    const tableData = document.querySelector('#tableData');
    tableData.addEventListener('submit', (e) => tableSubmission(e));

    function tableSubmission(e) {
      e.preventDefault();
      const textArea = document.querySelector('#jsonDump');
      textArea.innerHTML = JSON.stringify(data3);
      setTimeout(() => {
        e.target.submit();
      }, 200);
    }
  </script>

<script src="{% static 'adminboard/js/dragdrop.js' %}"></script>
</body>

</html>